[2018-03-13 09:21] alexellis opened #19 "Use a default of Python3"
Instead of `faas new --lang python` put `new --lang python3` so that we are pushing the newer version which will have LTS.

[2018-03-15 21:27] alexellis commented on #19
See #20

[2018-03-15 21:27] #19 closed

[2018-03-20 18:23] ovation22 opened #24 "Typo in README.md"
This workshop starts by deploying OpenFaaS your laptop with Docker

should be

This workshop starts by deploying OpenFaaS to your laptop with Docker

[2018-03-22 10:50] alexellis opened #25 "Lab 7b or Lab 8: secrets instead of environmental variables"
Please add additional instructions to show how the issue-bot could use a secret instead.

[2018-03-31 07:52] kenfdev opened #27 "Proposal: Some improvements about the workshop"
First of all, thanks for all the contents of this workshop. It's awesome.
I've been creating the Japanese version and there are some parts I think we should improve.

**The Main [README.md](https://github.com/openfaas/workshop/blob/master/README.md)**

It mentions about secrets and IFTTT.com but currently this workshop does not use secrets and IFTTT.com. I assume secrets are coming soon, but IFTTT

[2018-03-31 08:09] alexellis commented on #27
Hi Ken good feedback. Please go ahead and update as you see fit and I'll review.

[2018-04-01 18:15] #24 closed

[2018-04-01 18:16] alexellis commented on #25
@iyovcheva have you picked this up?

[2018-04-01 18:17] alexellis commented on #27
Re: the 500 vs. 404 error it could be different depending on the back-end provider and OpenFaaS gateway version.

[2018-04-04 06:46] alexellis commented on #27
Derek close: work completed

[2018-04-04 18:26] #27 closed

[2018-04-04 18:41] alexellis opened #30 "Lab: Show HTML returned from a function"
This task is for a new lab for the workshop. The aim is to show two things: how to set a content_type and how to return HTML from a function.

A function can write HTML in Python easily by setting `content_type: text/html` in the environment section of the YAML file then returning the text needed for the page.

Content:

* Show how to read a static HTML file from disk and return it
 * Show how to

[2018-04-07 08:33] alexellis commented on #25
Here is the documentation for OpenFaaS about secrets - https://github.com/openfaas/docs/blob/master/docs/reference/secrets.md

[2018-04-07 08:38] alexellis opened #31 "Lab 8 - show auto-scaling in action"
This lab should be short and just show a very simple binary function like "sha512sum" from the image "functions/alpine:latest".

* Show a query for Prometheus (there is some content in the appendix for this)
* Invoke the function with a while/curl statement in bash. We don't want people to have to install Go to try this for (hey) or to need Linux to get the `ab` tool
* Have them look at the alerts

[2018-04-07 09:39] rgee0 commented on #25
How should we do this?  Copy lab7 and replace the environment details with secrets?

I think this would be easier to follow in a stepwise sense.  The user can then opt to use secrets and follow lab7b or use env-vars with lab7

[2018-04-07 09:51] alexellis commented on #25
As an extension I would say after the final step in Lab 7.

[2018-04-07 09:51] alexellis commented on #25
Ken is translating this so if we can avoid duplication that would help.

[2018-04-07 13:51] Templum commented on #31
I will work on this. Any thing I should keep in mind regarding structure?

[2018-04-07 14:38] rgee0 commented on #25
Derek assign: me

[2018-04-07 14:58] kenfdev commented on #30
Derek assign: me

[2018-04-08 16:28] alexellis commented on #30
Derek close: via #34

[2018-04-08 16:28] #30 closed

[2018-04-08 16:29] alexellis commented on #30
@kenfdev please add your page into the ToC in the README and link at the end of Lab 4.

[2018-04-08 17:43] alexellis commented on #31
Closed via #33

[2018-04-08 17:43] #31 closed

[2018-04-08 17:44] alexellis commented on #31
@iyovcheva can you give this a run-through if you can find time?

[2018-04-10 16:08] iyovcheva commented on #31
@alexellis I reproduce if only ` com.openfaas.scale.min` is manually set to >1 in the `stack.yml`.
In `docker-compose.yml` it is not configured for `nodeinfo` (I'm not sure about the ` functions/nodeinfo:latest` image) and when I test the lab on my machine, there is only one replica.

[2018-04-11 10:45] zanetworker opened #37 "Lab 3 Documentation Glitch for Python3 Template"
In Lab 3, the mentioned content of `handler.py` are:

[code]

However, the actual content after the pull are:

[code]

the **print** behaviour is replaced by **return**. The documentation states `This function will just print the input, so it's effectively an echo function`, and since it is returned, I am not sure how to is redirected to stdout and where (probably needs a deeper look at the code)

[2018-04-11 14:57] alexellis commented on #37
It's not a glitch both work but we should move all the docs to say return instead

[2018-04-11 16:12] zanetworker commented on #37
Yup, I meant a glitch in the documentation because pulling produces something and the documentation is saying something else.

[2018-04-17 10:15] alexellis commented on #31
@iyovcheva this is working for me - having tested it with you on Zoom. I'd try it once more on your computer - maybe with figlet then move on.

[2018-05-11 12:29] ivanayov opened #42 "Add notes/examples for Kubernetes"
All examples in the workshop are now for Swarm.

In [Lab 3](https://github.com/openfaas/workshop/blob/master/lab3.md#hello-world-in-python) we mention in a note that one can also use Kubernetes (there is an example with `export OPENFAAS_URL=127.0.0.1:31112` )

What about including  [Deployment guide for Kubernetes](https://docs.openfaas.com/deployment/kubernetes/) documentation in the workshop?

T

[2018-05-11 22:16] ericstoekl commented on #42
I would advocate for removing the blurb about Kubernetes in Lab3, and instead expanding Lab1 to include a section about deploying on Kubernetes. It could be exactly the same as the Docker Swarm deployment instructions but cover Kubernetes, and link to the Kubernetes Deployment Guide similarly to how the Swarm Deployment Guide is linked to at the [end of Lab1](https://github.com/openfaas/workshop/b

[2018-05-12 11:07] AndyFelton opened #45 "Lab 4 reference to faas"
$ echo | faas invoke hello-openfaas should read $ echo | faas-cli invoke hello-openfaas

[2018-05-12 11:09] AndyFelton opened #46 "Typo on code for 'Making use of logging'"
Section is referring to hello-openfaas from lab3:

$ faas-cli build -f issue-bot.yml \
  && faas-cli push -f issue-bot.yml \
  && faas-cli deploy -f issue-bot.yml

Should read

$ faas-cli build -f hello-openfaas.yml \

[2018-05-12 17:25] alexellis commented on #46
Derek close: fixed/merged

[2018-05-12 17:25] #46 closed

[2018-05-12 17:25] alexellis commented on #45
Derek close: fixed/merged

[2018-05-12 17:25] #45 closed

[2018-05-12 17:25] alexellis commented on #45
Thanks for this Andy :+1:

[2018-05-12 17:26] alexellis commented on #42
We're going to need a longer term strategy for Kubernetes. Right now Swarm is the easier platform for teaching the workshop - but we could look to add some examples where things vary. Like I think we've already mentioned - those examples shouldn't make the flow confusing.

Suggestions welcome.

[2018-05-12 17:27] alexellis commented on #37
Hi I think we have this sorted now @zanetworker - thank you for helping out.

[2018-05-12 17:27] #37 closed

[2018-05-14 10:11] alexellis commented on #42
Let's put this on hold for now.

[2018-06-17 00:56] alexellis opened #49 "Update labs for new secrets path"
See change to OpenFaaS on Swarm/K8s to move from /run/secrets to /var/openfaas/secrets

This affects Lab10 which is now incorrect due to the use of the old path.

https://github.com/openfaas/workshop/blob/master/lab10.md

## Task

* Deploy latest OpenFaaS on swarm
* Try Lab 10 - see it fail
* Update the paths, try again
* Submit a PR to fix the paths

Also check any other references.

[2018-06-26 13:28] #49 closed

[2018-07-05 19:03] infominer75 opened #52 "The "gateway" hostname is not resolved"
I am following the workshop where-n we invoke the sentiment analysis function from within a python function using an HTTP GET request. The format of the URL for the GET request is:

``http://gateway:8080/function/sentimentanalysis``

When I deploy this function to my GKE cluster and invoke it, I get the following Python stack trace:

``Traceback (most recent call last):
  File "index.py", line 15,

[2018-07-05 19:20] alexellis commented on #52
The workshop is for Swarm and not for Kubernetes, so for Kubernetes (GKE etc) you'll have to adapt the content. Any hostname like the gateway will need a DNS suffix of its namespace so use http://gateway.openfaas:8080

Thanks,

Alex

[2018-07-07 18:39] infominer75 commented on #52
Thanks Alex. By using the gateway.openfaas (since openfaas is my GKE namespace for openfaas) I was able to make it work.

[2018-07-07 18:39] #52 closed

[2018-07-08 20:51] alexellis commented on #52
Great! You can also use the OPENFAAS_URL env-var to set the gateway for the CLI. How did the rest of the tutorial go?

[2018-07-16 15:52] tracymiranda opened #54 "Incomplete instructions for Windows users"
There are a couple of points of friction in this lab for windows users:

1. If windows users have default git-bash installed (with use MinTTY specified) they will get an error when they try to run 'docker login' in [lab 1](https://github.com/openfaas/workshop/blob/master/lab1.md) The error seen is "Error: Cannot perform an interactive login from a non TTY device" but has a straightforward workarou

[2018-07-16 17:17] #54 closed

[2018-07-16 17:17] alexellis commented on #54
Thank you for taking time to write this up @tracymiranda - it's super useful.

I've addressed the comments in the commit message and changes in ddb6e1e

Alex

[2018-07-16 17:24] tracymiranda commented on #54
👍 Looks great, thanks for quick turnaround.

[2018-07-18 02:51] nidhisridhar opened #57 "Issue no 2"
Don't like you

[2018-07-18 02:52] #57 closed

[2018-09-21 13:31] ivanayov opened #59 "Update with `faas-cli up`"
Change all usages of
[code]
 to `faas-cli up` instead

[2018-09-21 16:58] ivanayov commented on #42
I'm taking Lab 1 and 2.

After discussion with Alex, they are going to be modified with notes for Kubernetes. Notes should include all of Minikube, Docker for Mac and GKE

[2018-09-24 06:36] alexellis opened #60 "Add Http_Path to labs"
Http_Path is now in wide enough use that we should mention it in the labs and give an example of how to use it. 1 short paragraph would be fine.

[2018-09-24 06:38] alexellis commented on #42
We won't necessarily be able to merge labs PRs one at a time since it will be confusing, but happy to start at the beginning.

The initial pass should cover `kubectl create secret` / `kubectl logs` etc. We have a setup guide for Kubernetes in the docs which can be referenced.

[2018-09-26 08:15] alexellis opened #61 "Lab 11 - Advanced Feature - Trust with HMAC"
Suggested by @martindekov - let's add a lab for using HMAC

The CLI has a new `--sign` feature (in the next release) - this can be used to invoke a function and sign the header at the same time.

I have an example repo that can be used as an example (perhaps translated to Python, or kept in Go?)

We might want to link to some libraries for use with other languages like C#, Ruby & Node.

https://gi

[2018-09-26 08:17] alexellis commented on #61
Might want to quote from my Golang component's README or link to Wikipedia - https://github.com/alexellis/hmac#how-it-works

cc @rgee0

[2018-09-26 08:24] alexellis opened #62 "Add scale from zero to Lab 9"
This is a good feature to cover in the labs.

This could just be as simple as scaling manually using `docker service scale` or `kubectl scale` and then invoking the function used in the examples (nodeinfo).

Stretch goal - mention faas-idler and how to turn "dry run" to false.

[2018-09-27 06:35] rgee0 commented on #61
I found the `env` function useful for demonstrating the feature.  A possible flow might be:

* to introduce the concept of HMAC
* demonstrate the function env without, and then with, the `--sign` flag to show the effect
* a practical example with a signed-and-sealed function

[2018-09-28 08:27] ivanayov commented on #42
Now working on first 2 labs

[2018-09-28 09:33] cygnushan opened #63 ""docker service logs -f xxx" cannot get logs when i do experiment in lab3"
When i run "docker service logs -f astronaut-finder", there is an error message "no such task or service: astronaut-finder".
Then I try "kubectl logs", it works
`# kubectl logs astronaut-finder-7cddb4c595-2s2cm --namespace=openfaas-fn`
[code]
kubectl version as follws:
[code]

[2018-09-28 09:57] alexellis opened #64 "Lab 9 / Kubernetes - add port forwarding"
Add port-forwarding command for Prometheus:

[code]

Then open http://127.0.0.1:9090/

[2018-09-28 16:45] ivanayov commented on #63
Hi @cygnushan
If you didn't deploy the function on swarm, you shouldn't have docker service for it.
You  can check it with `docker service ls | grep astronaut`.

[2018-09-28 16:45] ivanayov commented on #63
Derek add label: support

[2018-09-28 21:05] #59 closed

[2018-09-29 01:57] cygnushan commented on #63
Got it! Thanks a lot. @ivanayov @alexellis

[2018-10-01 08:06] martindekov commented on #61
Ok I will go with the flow pointed above

[2018-10-01 10:18] martindekov commented on #61
I was wondering isn't it a good idea to use the `lab5` issue bot function to give the concept of protecting the function and maybe point out if we try invoking with wrong `--sign` flag or invoking altogether what happens? I think this would be ideal showcasing how hmac intercepts if if the hash is mismatched. @rgee0 @ivanayov ?

[2018-10-01 10:20] martindekov commented on #61
Otherwise I am giving excess information in things already done in `lab5`.

[2018-10-01 17:39] rgee0 commented on #61
I'd suggest introducing the concept in lab 5 with something like  _"... when dealing with messages from a third party it is recommended to use a message signing scheme such as HMAC, you can explore this further in Lab 11"_

Then in lab 11 fully introduce HMAC and follow the flow we suggested earlier.  Using a simple function initially to demonstrate the effect signing has and then the signed-and-s

[2018-10-03 22:51] pyramation opened #69 "Lab 2 - port forwarding for grafana"
I'm using k8s, so I wasn't able to get swarm up. I've translated what is needed for lab 2:

[code]

[2018-10-03 22:59] pyramation opened #70 "Lab 3 - outdated cli?"
when I tried `faas-cli up -f hello-openfaas.yml` I got:

![screen shot 2018-10-03 at 3 58 18 pm](https://user-images.githubusercontent.com/545047/46444110-4f1fc680-c725-11e8-9057-c78cfea8d830.png)

[2018-10-04 00:53] pyramation opened #71 "Lab 7 - queue-worker gave basic auth warning"
During the `long-task` example,

[code]

When tailing the logs of the queue-worker

[code]

This could be an issue with openfaas, but figured I would put it here first.

Although it says 200, my concern is the `Error with AddBasicAuth : Unable to read basic auth: invalid SecretMountPath specified for reading secrets`

[2018-10-04 06:29] alexellis commented on #70
Have you tried updating your CLI version?

The start of the labs have pre-reqs where you install the latest CLI.

Alex

[2018-10-04 06:33] alexellis commented on #71
This warning can be ignored. Ive pinged the team.

[2018-10-04 07:47] alexellis commented on #70
Type in `faas-cli version` and I think you'll find you need to update @pyramation

Just follow the docs https://docs.openfaas.com/ for your platform or see openfaas/faas-cli

Alex

[2018-10-04 07:47] #70 closed

[2018-10-04 07:51] alexellis commented on #71
Ref: https://github.com/openfaas/nats-queue-worker/pull/41

[2018-10-04 07:53] alexellis commented on #64
@ivanayov just to note - we may also want to do this for Grafana when you get to that lab.

[2018-10-04 07:53] alexellis commented on #69
We already have this in #64, but thanks for logging your method of port forwarding.

For K8s the instructions have to be adapted as you're doing - but within 2-3 weeks I expect us to have dual instructions ready as per #42

Thanks again for your input 👍

Alex

[2018-10-04 07:55] alexellis commented on #69
Derek close

[2018-10-04 07:55] #69 closed

[2018-10-04 14:48] ivanayov commented on #59
Everything is available in the worshop, except dynamic versioning.
It can fit well in the Git bot lab.

[2018-10-08 16:25] TidyData opened #72 "lab4 command not working"
At [lab4 - use-http-context---querystring--headers section](https://github.com/openfaas/workshop/blob/master/lab4.md#use-http-context---querystring--headers)

* Deploy a function that prints environmental variables using a built-in BusyBox command:
[code]

I tried various ways, unsure if I'm doing something wrong or where it is going wrong...

[2018-10-08 16:51] TidyData commented on #72
figured another way

[code]

[2018-10-08 16:51] #72 closed

[2018-10-08 18:14] alexellis commented on #72
Thanks for logging an issue, we'll look into it.

Alex

[2018-10-08 18:25] alexellis commented on #72
What was the error you got? I tried this and it worked first time for me and for @rgee0 too.

[2018-10-08 18:25] rgee0 commented on #72
@TidyData can you provide further details on why you think it wasn't working, please?

I find this interesting: `Function env already exists, attempting rolling-update.`

Here's my output:
[code]

[2018-10-08 18:56] TidyData commented on #72
I was not getting an error, but it also was **also not making my url endpoint** /function/env either

When I ran the command how the workshop specified all the other endpoints were listed and it attempted rolling-update but never made the env one...

[code]

I then attempted to manually make it in the `http://<gateway-ip>:<gateway-port>/ui/` interface and it would never go to "ready"

I then reboo

[2018-10-08 19:04] rgee0 commented on #72
I concur with your diagnosis.  Deploy will be looking for (and finding in this instance) a local `stack.yml`.  I guess the biggest clue is in the CLI deploying all those functions when you just asked for `env`.

[2018-10-08 19:20] TidyData commented on #72
I'm missing where in [faas-cli deploy](https://github.com/openfaas/faas-cli/blob/master/commands/deploy.go) it defaults to stack.yml if `-f` is not specified.

To me, it does seem a conflict could easily occur when using the deploy command in either of the documentation examples
[code]
or
[code]
For this deploy command usage it seems needless to even access the stack.yml file.  The only item not s

[2018-10-08 19:29] alexellis commented on #72
This is behaving as designed. We may be able to indicate that the user (if using Swarm) move out of the "faas" directory after the initial deployment.

[2018-10-15 12:56] alexellis opened #80 "Lab 9 - use figlet instead of nodeinfo"
One or two users used low-powered machines and couldn't generate enough traffic to get nodeinfo to scale, so I think we should switch to figlet for the example which I believe will allow more through-put to hit the "5 r/ps" limit.

[2018-10-15 13:07] #80 closed

[2018-10-19 09:05] rgee0 commented on #71
Derek close

[2018-10-19 09:05] #71 closed

[2018-11-07 15:05] #61 closed

[2018-11-07 15:11] #60 closed

[2018-11-07 18:10] padiazg opened #83 "Lab 6 - list.html not found"
When in the section `Read and return a static HTML file from disk` and you reach `Now we're going to add a path to the function URL.`, if you request `http://127.0.0.1:8080/function/show-html/list`, there is an error:
[code]
I think it's because at this point there is still no `list.html`, which is created in the next section.

[2018-11-08 02:56] padiazg opened #84 "Lab 11 - Minimum fass-cli versión"
I suggest to add an advise with the minimum version of fass-cli needed to use `--sign` and `--key`, or since which versión they are supported.

[2018-11-08 12:16] martindekov commented on #83
Actually the lab6 misses the list.html file being created I will fix that thanks for the feedback @padiazg

[2018-11-10 17:41] #83 closed

[2018-11-10 17:41] #84 closed

[2018-11-21 13:29] #62 closed

[2018-11-22 11:03] ivanayov opened #87 "Point out to the right directories"
During live workshop several people had this problem:

1. Creating a function in lab X in folder `labX`
2. Going to lab X + 1 where changes to the same function are required, but the contents are copied to `labX+1/` folder
3. Having editor still open with `labX` and doing the changes there by mistake.
4. Changes not applied

It's an easy to find problem, but we may still think how to create better

[2018-11-22 12:17] Homeblest opened #88 "Spelling mistake in lab 5"
https://github.com/openfaas/workshop/blob/master/lab5.md#create-an-webhook-receiver-issue-bot

Should be "Create a webhook receiver"

[2018-11-22 13:16] ivanayov opened #90 "Gitbot code example needs update"
At this part of Lab5 the code example needs updating/fixing:
https://github.com/openfaas/workshop/blob/master/lab5.md#update-the-issue-bot-function

At the rest of the Lab it's working well.

[2018-11-22 13:17] alexellis commented on #88
Fixed and thank you! https://github.com/openfaas/workshop/issues/88

[2018-11-22 13:17] #88 closed

[2018-11-22 13:25] divandauth opened #91 "Lab 4 | Error when no text present"
During our workshop a couple of us had the following issue:

When calling the function after making all the changes in lab 4, it fails when there is no text present.

Perhaps you can add a note to remind users to always have text present when calling the sentimentanalysis function.

[2018-11-22 14:01] neotrinity opened #92 "Lab8 - has a missing "up" command"
![image](https://user-images.githubusercontent.com/727843/48907268-3b602900-ee67-11e8-9d5a-f92d106dff77.png)

build, push, deploy and invoke functions skips "up" step.

`$ faas-cli up -f ./sleep-for.yml`
could be added.

[2018-11-22 14:47] atroxix opened #93 "Lab 11 issue-bot follow-up could have hint for environment variable"
It is not very obvious to figure out the environment variable that GitHub sends the secret with, so maybe a hint to this point could be added.

Something like:

[2019-01-16 13:20] ivanayov opened #95 "Update secrets instructions with `faas-cli secret`"
Check all labs for creating secrets instructions with `docker secret create` or `kubectl create secret` and update them to use the new command `faas-cli secret create`.

Check and edit also for updating, deleting and listing secrets if there are any examples given.

Open PRs both against master and [kubernetes-preview](https://github.com/openfaas/workshop/tree/kubernetes-preview) branches

Docs:
h

[2019-01-16 13:21] ivanayov commented on #95
Derek set label: help wanted

[2019-01-16 13:21] ivanayov commented on #95
Derek add label: help wanted

[2019-01-16 13:58] mario-mazo commented on #95
I will take this

[2019-01-16 20:13] mario-mazo commented on #95
@ivanayov not sure if it makes sense to make the PR against the kubernetes-preview. The seem to be quite far apart.

[code]

[2019-01-17 08:38] ivanayov commented on #95
@mario-mazo it seems like you have some extra commits. Dod you checkout from `kubernetes-preview` or from `master`?

[2019-01-22 17:21] alexellis commented on #95
What we're looking for is the following:

1) PR from/to ` kubernetes-preview` which updates Swarm & K8s instructions to use the `faas-cli` to create secrets when put in `openfaas-fn` (only)
2) PR from/to `master to update only the Swarm instructions to use `faas-cli` to create secrets

Would you like to go ahead with this, or do you want us to pick it up?

Alex

[2019-01-22 19:08] mario-mazo commented on #95
ok will try to do the swarm part tonight and test it as I have not much experience with that swarm an submit the PRs tomorrow during the day

[2019-01-25 09:31] alexellis opened #99 "Remove note about running secret commands on master"
Remove note about running secret commands on master

This no longer applies since we use the OpenFaaS CLI / API to create secrets

[2019-01-25 09:33] alexellis commented on #95
@ivanayov please can you do a final pass for the word "secret" in both branches before we close out this issue?

[2019-01-25 09:33] alexellis commented on #95
@mario-mazo great job, looking forward to more PRs soon 🎉

[2019-01-25 09:35] alexellis commented on #93
Hi @atroxix would you be willing to raise a PR for this?

[2019-01-25 09:37] ivanayov commented on #95
@alexellis I verified it's all covered

[2019-01-25 09:57] alexellis commented on #95
Derek close: fixed

[2019-01-25 09:58] alexellis commented on #95
Great 👍

[2019-01-25 11:30] atroxix commented on #93
Hi.

Pull request #100 opened.

[2019-01-25 15:38] plaroche1978 opened #101 "Lab 3 - Need to add a line to push the astronaut-finder.yml to docker repositories"
In my case, for the astronaut-finder function to work I had to run this command : faas-cli up -f astronaut-finder.
Before doing that, in the OpenFaaS GUI the function was not ready and when looking at the kubectl logs was receiving this message : Error from server (BadRequest): container "astronaut-finder" in pod "astronaut-finder-7ff4b9cbcd-tqpjh" is waiting to start: image can't be pulled.

Afte

[2019-01-25 16:39] ivanayov commented on #101
@plaroche1978 `faas-cli up` does `push`, unless you pass the `--skip-push` flag.
I see that we don't use `up` there.
For Swarm it's fine as is, but for Kubernetes you're right that this will not work.

Can you please raise a PR against `kubernetes-preview`? (checkout from the same)

[2019-01-25 22:12] #99 closed

[2019-01-25 22:39] rgee0 commented on #91
Could you point me where you are finding an instruction to send no text to sentimentanalysis?  I've found this in Lab 4:

[code]

Is the suggestion that we need to be explicit about the sentence being non-zero in length?

[2019-01-28 09:18] alexellis commented on #101
@ivanayov can you tackle the PR please?

[2019-01-30 18:42] dxz149 opened #106 "Question about orchestrator"
Hi all,
I'm new to OpenFaaS and was trying to write a scheduler which chooses to run a function on the sleeping container or a running container and compare the trade offs.
As far as I understand OpenFaas always keeps one container in running state to reduce the warmup time.
Is it possible to change the code for the orchestrator to choose a sleeping or running container?

Thanks

[2019-02-01 03:42] dxz149 opened #107 "Lab9: Autoscaling is not working for me"
Hi all,
I've been trying to run lab9.
But my autoscaling does not work and it always gives me 1 replica.
Do you know where should I check the value of com.openfaas.scale.min and com.openfaas.scale.max?
And how should I change it? I think the default value for me is to have one replica which never terminates.

[2019-02-01 07:42] alexellis commented on #107
Hi,

What is your configuration?

Swarm or Kubernetes?

What versions?

How do you know it's not triggering?

Alex

[2019-02-01 17:32] dxz149 commented on #107
I use Swarm,
I use Windows with gitbash and faas is version 0.8.3
Then I tried to follow the same instructions for my macbook and autoscaling worked (but after about 5 minutes).
I checked both http://127.0.0.1:9090/graph and the instruction "faas-cli list" to see the number of replicas and it's always 1 for all functions on windows.
I wonder if there is any way that I can change the scheduler for

[2019-02-07 09:15] padiazg commented on #107
You can get those values querying vía API, begin reading here:
https://www.openfaas.com/developer/backends/

Try doing a GET call to
`system/function/{name:[-a-zA-Z_0-9]+`

[2019-03-01 15:41] viveksyngh commented on #106
Hi,

By default OpenFaaS runs one instance for each function to keep it warm. But using some configuration you can also enable scale to zero. Please refer to below links.

https://docs.openfaas.com/architecture/autoscaling/#zero-scale

https://www.openfaas.com/blog/zero-scale/

[2019-03-05 18:58] ewilde commented on #92
@neotrinity welcome to OpenFaaS. Hope you enjoyed going through the workshops. Great suggestion! perhaps the documentation should include the `up` cli command as you suggest.

Would you like to open a PR and make this change? Please see our [community guidelines for PR contributions](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#paperwork-for-pull-requests).

[2019-03-05 20:40] alexellis commented on #92
The command isn't missing, so I'm going to close the issue.

`build/push/deploy` are the same as `up`.

Happy to take a PR as per Ed's recommendations.

[2019-03-05 20:40] #92 closed

[2019-03-05 20:40] #107 closed

[2019-03-05 20:41] #106 closed

[2019-03-05 20:41] alexellis commented on #106
Thanks for responding Vivek.

[2019-03-11 18:49] kyeett opened #110 "Main page: update Tear down/clear link"
I was going through the tutorial, trying to clean up my OpenFaas installation, and wasn't sure how to do it. I found the [Tear down/ Clear up](https://github.com/kyeett/workshop/blob/master/README.md#tear-down--clear-up)-section, the link points (https://github.com/openfaas/faas/blob/master/guide/troubleshooting.md#stop-and-remove-openfaas) but it seems that the troubleshooting guide has been move

[2019-03-14 09:50] sstiglitz opened #111 "Lab 4 - HTTP Header Keys Changed to Proper Case"
Within lab 4, it describes how HTTP headers are exposed in the function as environment variables.

However, there appears to be additional manipulation being performed to the HTTP Header key. It is being put into proper case. Below is an illustration.

[code]
I tried tracing this back to the function getAdditionalEnvs within https://github.com/openfaas/faas/blob/master/watchdog/handler.go to see i

[2019-03-30 13:55] alexellis opened #112 "Task: merge master & kubernetes-preview branches"
## Task: merge master & kubernetes-preview branches

Originally we were unsure how to have two sets of instructions so created two branches. In practice this is becoming hard to manage so I think that these two branches need to be merged together.

There are new instructions about auto-scaling in the master branch so it needs to be done carefully and reviewed to make sure we don't lose any informa

[2019-03-30 19:45] martinbeentjes commented on #112
I can work on this if you'd like!

[2019-03-30 20:18] alexellis commented on #112
Please go ahead @martinbeentjes with your PR :+1:

Check the contribution guide in openfaas/faas before you start so that you don't get caught on the `git commit --signoff` etc.

[2019-04-02 06:38] martinbeentjes commented on #112
@alexellis PR #114 is created

[2019-04-03 11:10] #112 closed

[2019-04-04 15:55] alexellis commented on #111
Hi @sstiglitz the "proper case" that you're talking about is a result of serialisation by the HTTP packages in the Go stdlb. The rules for changing case are a black box within the Go framework, I would recommend you just test for the headers you expect and if they do not appear as expected, alter the expected value.

I'm not clear on what you would like as an outcome?

If there's a bug in the work

[2019-04-04 15:55] #111 closed

[2019-04-04 15:56] alexellis commented on #110
Hi @kyeett I would prefer you to raise a PR for this.

You will however need to sign off your commits. Let me know if you need any help with that. For me I just do `git commit -s` instead of `git commit`.

Alex

[2019-04-04 18:39] kyeett commented on #110
Hi @alexellis.

I seem to have deleted my old fork where I did the initial pull request, created a new one here: #115
I created the change directly on github, so I can't commit from the cli. I believe I managed to sign it manually in the commit message. Please have a look.

Best regards,
Magnus

[2019-04-09 17:56] rgee0 commented on #110
Fixed in #115

[2019-04-09 17:56] #110 closed

[2019-04-09 17:58] rgee0 commented on #91
Derek close: inactive

[2019-04-09 17:58] #91 closed

[2019-04-23 10:24] alexellis opened #120 "Lab / section on read only filesystems"
Add a Lab / section on read only filesystems configured at the function level

[2019-04-25 19:50] alexellis commented on #120
@martindekov PTAL

[2019-04-25 19:50] alexellis commented on #120
Ping Lucas if you need any more info on how this flag works and how to test it - or see the blog post on www.openfaas.com

[2019-04-27 13:31] alexellis commented on #101
@rgee0 / @ewilde / @viveksyngh did any of you run into this? If so please could you raise a PR?

[2019-04-27 13:35] rgee0 commented on #101
@viveksyngh fixed it.  Theres a `push` in there now.  Thanks Vivek.

[2019-04-27 13:35] #101 closed

[2019-05-10 05:50] sourabhdeshmukh opened #132 "output issue for command uname -a when invoked with markdown function."
I was going through the lab2, and found that.
when I run:

I get output as

Due to Emphasis property in markdown.

does not display correcty

[2019-06-26 14:32] alexellis commented on #120
/close: added to Lab4

[2019-06-26 14:32] #120 closed

[2019-06-26 14:32] alexellis commented on #64
/close: completed

[2019-06-26 14:32] #64 closed

[2019-06-26 14:32] alexellis commented on #42
Derek close: completed

[2019-06-26 14:32] #42 closed

[2019-06-26 14:32] alexellis commented on #87
Derek close

[2019-06-26 14:33] #87 closed

[2019-06-26 14:33] alexellis commented on #90
@ivanayov can you clarify what update is needed and if this is still an issue?

[2019-07-05 06:32] ShravanGeek opened #134 "Unable to access Prometheus dashboard after port-forward."
Hi Team,
I have tried your steps for port-forwarding the prometheus to access the dashboard. But I'm unable to do so.

`POD=$(kubectl get pods -n openfaas -l app=prometheus -o jsonpath="{.items[0].metadata['name']}")`
`kubectl -n openfaas port-forward $POD 9090:9090`
`Forwarding from 127.0.0.1:9090 -> 9090`
`Forwarding from [::1]:9090 -> 9090`

And it's getting hanged there.

My svc displaying sta

[2019-07-05 08:05] alexellis commented on #134
Hi @ShravanGeek

Thanks for doing the workshop, hope you are enjoying it.

Where you you find these instructions? Can you send a link please?

The dashboard is first accessed via Grafana in Lab 3 using port 3000:

https://github.com/openfaas/workshop/blob/master/lab2.md#kubernetes

Alex

[2019-07-05 08:08] alexellis commented on #134
We also have a Slack channel #workshop which may be a good place to get more help.

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-07-07 06:12] tshravan86 commented on #134
Hi @alexellis . I apologize for the trouble I'm making here. This is where I found the step to port-forward.

[https://github.com/openfaas/workshop/issues/64](https://github.com/openfaas/workshop/issues/64)

I'm new to this and exploring the concepts. Its really interesting. Thanks a lot for your time and consideration.

[2019-07-07 06:44] alexellis commented on #134
The instructions you found are not part of the labs, so I wouldn't use them. You will find instructions for forwarding the port in Lab 9 - https://github.com/openfaas/workshop/blob/master/lab9.md#kubernetes

If there is a specific problem with a lab then raise another issue. For further support, please use Slack.

[2019-07-07 06:44] alexellis commented on #134
--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-07-07 06:44] #134 closed

[2019-07-07 07:07] ShravanGeek commented on #134
Hi @alexellis Sure. Thank you for pointing me to the right direction.

[2019-07-25 13:58] kwojcicki opened #135 "Lab 4 Confusing wording around redploying function"
https://github.com/openfaas/workshop/blob/master/lab4.md#security-read-only-filesystems at the very end of this section it says:

[code]

In that section of the lab the yaml file being worked on has a different name than the default yaml (instead it is ingest-file.yml). So just running ```faas-cli up``` doesn't work. Changing the wording to redeploy/using the entire command may be helpful :).

Wil

[2019-07-25 17:56] alexellis commented on #135
I would welcome a pull request for this. Thank you again for your help and feedback

[2019-08-01 12:01] tshravan86 opened #137 "Need help in getting metrics on container start-up time when replica is zero and one."
Hi,

I'm having a bit trouble in understanding how to get the metrics. I need information regarding,

- How much time it takes to execute a function which is in cold and warm state.

- How much time the function takes to complete its process.

I have gone through the metrics section in official documentation.

`gateway_functions_seconds`

I'm confused whether it does gives us the start-up time of

[2019-08-01 13:01] alexellis commented on #137
Hi @tshravan86

Thank you for your interest in the project.

The metrics are explained in detail in the docs and you may prefer to use the dashboard outlined in the labs, rather than Prometheus directly.

https://docs.openfaas.com/architecture/metrics/

https://github.com/openfaas/workshop/blob/master/lab2.md#monitoring-dashboard

Alex

[2019-08-01 13:01] #137 closed

[2019-08-01 13:01] alexellis commented on #137
--
Join Slack to connect with the community
https://docs.openfaas.com/community

[2019-08-01 14:13] tshravan86 commented on #137
Thank you @alexellis

[2019-08-01 17:22] #135 closed

[2019-08-13 11:51] alexellis opened #140 "Add lab / steps for envvarsubst"
## Task

Add lab / steps for envvarsubst

## Context

https://github.com/openfaas/faas-cli/pull/626

This has been tracked on Trello since April, but not worked on yet.

I would like a volunteer to put some content together showing how to use the feature. See the docs or README from the CLI for some inspiration.

https://docs.openfaas.com

https://github.com/openfaas/faas-cli

[2019-08-13 16:08] burtonr commented on #140
Derek assign: me

[2019-08-13 18:02] rgee0 opened #141 "Add more detail around the logging in action to Lab 1a"
A recent tread on Slack highlighted that the Swarm version of Lab 1 carries less detail than that of 1b in terms of guiding users through the login process, which led to confusion for the new user.

Proposal is that the equivalent to the section at [Lab1b login](https://github.com/openfaas/workshop/blob/master/lab1b.md#login-to-the-openfaas-gateway) be added to 1a.

[2019-08-18 15:19] #140 closed

[2019-08-30 05:53] sriveros95 opened #143 "Lab 6 | Possible Typo on Ajax Call Calling Figlet"
(I think) when doing the ajax call to interact with the service figlet it should be ../figlet instead of ./figlet

Or insert the global gateway
[code]

[2019-09-06 01:16] jconlon opened #152 "Lab 5 faas-cli command typo"
Type for faas-cli login flag --username not --user

## Fix
Replace

* Now log in: `echo $PASSWORD | faas-cli login -g http://fuh83fhfj.ngrok.io --user=admin --password-stdin`

with

* Now log in: `echo $PASSWORD | faas-cli login -g http://fuh83fhfj.ngrok.io --username=admin --password-stdin`

[2019-09-06 06:23] alexellis commented on #152
Thank you for letting us know

[2019-09-06 12:45] #152 closed

[2019-10-02 18:51] rgee0 commented on #90
Closing as the issue is aged and suggested change is unclear.  The workshop has been run multiple times since the issue was opened so this would have either highlighted the issue & consequently been corrected, or failed to exposed the issue.

[2019-10-02 18:51] #90 closed

[2019-10-02 18:58] rgee0 commented on #93
Closing due to inactivity and because the detail within the lab now explains that `Http_Hmac` is used:
[code]

Thanks for your interest.

[2019-10-02 18:58] #93 closed

[2019-11-04 15:25] matb opened #159 "Lab 1B - Installation Command wrong"
The installation command for openfaas on Managed Clouder Kubernetes is wrong. The correct command has to be:
[code]

[2019-11-04 20:30] alexellis commented on #159
Thank you. We'll get this fixed

[2019-11-04 20:32] #159 closed

[2019-12-13 12:16] #141 closed

[2019-12-18 20:50] codegold79 opened #161 "Lab 5: Japanese version has broken image links"
## Expected Behaviour
I should be able to, but currently can't see images located at
- screenshot/WebhookURLSettings.png
- screenshot/WebhookEventsSettings.png
- screenshot/WebhookResponse.png
- screenshot/NewPAT.png

## Current Behaviour
I only see the no-image icon for four images.

## Possible Solution
Fix the links

## Steps to Reproduce (for bugs)
1. Open https://github.com/codegold79/worksho

[2019-12-18 20:54] codegold79 opened #162 "Lab 11: Add Japanese translation"
## Expected Behaviour
The Japanese workshop covers what the English version does.

## Current Behaviour
Lab 11 is missing from the Japanese translated version.

## Possible Solution
Add translation

## Steps to Reproduce (for bugs)
1. https://github.com/codegold79/workshop/blob/master/translations/ja/lab11.md
2. see 404 error

## Context

Those who are more comfortable with Japanese instructions w

[2019-12-18 21:01] alexellis commented on #162
Would you or @kenfdev like to resolve this? I'm not sure that the Japanese translation is being maintained actively.

[2019-12-18 21:01] alexellis commented on #161
Would you or @kenfdev like to resolve this? I'm not sure that the Japanese translation is being maintained actively.

[2019-12-18 21:28] codegold79 opened #163 "Lab 7: Backtick typo in "View the queue-worker's logs" section"
## Expected Behaviour

There shouldn't be a back tick in the code section for Kubernetes

## Current Behaviour

There is a backtick at the end of

## Possible Solution

Remove backtick

## Steps to Reproduce (for bugs)

1. Go to https://github.com/openfaas/workshop/blob/master/lab7.md#view-the-queue-workers-logs
2. See Kubernetes command

## Context

I didn't even try to run the command with the b

[2019-12-18 21:32] alexellis commented on #163
Please feel free to send a pull request for this. Make sure that the commit is signed off so that the automation doesn't reject it :+1:

[2019-12-18 21:32] codegold79 opened #164 "Lab 11: Wrong link to Lab 5"
## Expected Behaviour

I should be able to go directly to Lab 5 in master.

## Current Behaviour

Currently, if I click the link to Lab 5 from Lab 11, I end up going to an old version: https://github.com/openfaas/workshop/blob/7f1b0246376b7e4380bb5874655f28254c15f749/lab5.md

## Possible Solution

Update link to point to the master version of Lab 5: https://github.com/openfaas/workshop/blob/master

[2019-12-18 21:38] alexellis commented on #164
Thank you for finding this, please do send a PR

[2019-12-18 22:39] codegold79 opened #165 "Lab 11: Incorrect code excerpt quoted"
## Expected Behaviour

I should see the quoted code somewhere in hmac-protected/handler.py, but I don't. Nowhere is there a part of code that looks like

    if hmacDigest == cleanHash:
        return True
    return False
...

## Current Behaviour

Currently, the part of hmac-protected/hander.py that checks for correct HMAC encoding is
[code]
## Possible Solution

Either
(1) re-word the code exam

[2019-12-18 22:40] codegold79 commented on #161
I can work on this.

[2019-12-18 22:42] codegold79 commented on #162
I'm afraid my Japanese is too poor to do the translation. If @kenfdev or another person doesn't resolve it, I guess the Issue can be put on the back burner or won't do.

[2020-01-23 14:04] tullo opened #169 "Lab 7: Wrong link target to 'Callback request headers'"
The link in section [Use an X-Callback-Url with requestbin](https://github.com/openfaas/workshop/blob/master/lab7.md#use-an-x-callback-url-with-requestbin) (Lab 7) to the reference for **Callback request headers** has an outdated target link.

The links should point to: https://github.com/openfaas/docs/blob/master/docs/reference/async.md#callback-request-headers

[2020-01-24 17:49] #169 closed

[2020-02-08 20:51] brp-magnusd opened #171 "Lab 1 Invalid curl url to install kubectl on Mac"
## Expected Behaviour
Copy paste the commands to install kubectl into a terminal should work on MacOS.

## Current Behaviour
The url to kubectl is incorrect so chmod will fail as the kubctl-file does not exist.

## Possible Solution
Remove `.exe` in `curl -LO https://storage.googleapis.com/kubernetes-release/release/$VER/bin/darwin/amd64/kubectl.exe` will fix the problem.

## Steps to Reproduce (f

[2020-02-08 21:59] #171 closed

[2020-02-08 21:59] alexellis commented on #171
Thank you

[2020-03-08 16:47] gioargyr opened #172 "Lab3"
In Lab3, I cannot understand how exactly should I modify the function "astronaut-finder". I see that I have to modify "requirements.txt" and I did bu just adding the word "requests" (even though it seemed strange to me), but now that I run the function I get an error.
I am pretty sure that it has to do with the modification of the file "requirements.txt" or a modification I didn't do correctly.

#

[2020-03-08 17:13] martindekov commented on #172
Hello @gioargyr did you re-build/push/deploy the function after adding the `requests` package to the `requirenments.txt`?

[2020-03-08 17:14] martindekov commented on #172
Also when building the function try running `faas-cli build .... --no-cache` and let me know if it helps.

[2020-03-08 17:23] gioargyr commented on #172
Hello, as it seems it was a stupid mistake because I didn't add "import requests".
So sorry for bothering you.

[2020-03-08 17:23] #172 closed

[2020-03-08 17:26] martindekov commented on #172
No problem :+1:

[2020-03-10 13:30] gioargyr opened #173 "Lab 5 - how do I get the public URL?"
In Lab5 you say
"Use the built-in UI of ngrok at http://127.0.0.1:4040 to find your HTTP URL. You will be given a URL that you can access over the Internet, it will connect directly to your OpenFaaS API Gateway."

I have ngrok running and it seems that it works fine. I cannot understand how I will get this URL.

Also, 4 lines below, you say:
"export NGROK_ADDRESS=https://fuh83fhfj.ngrok.io"

What

[2020-03-19 12:34] alexellis commented on #173
Hi, thanks for taking the workshop. I'm not sure what you are missing? What part of the instructions didn't work as expected?

Alex

<img width="944" alt="Screenshot 2020-03-19 at 12 34 05" src="https://user-images.githubusercontent.com/6358735/77068117-f8bc4b80-69dd-11ea-99cd-0fafe6c91e7d.png">

[2020-03-19 12:36] alexellis commented on #173
I ran all of those commands and it worked as expected:

<img width="1564" alt="Screenshot 2020-03-19 at 12 36 14" src="https://user-images.githubusercontent.com/6358735/77068293-3caf5080-69de-11ea-91cd-c0411c0a928d.png">

[2020-03-19 12:36] #173 closed

[2020-03-19 12:39] Waterdrips commented on #173
I ran the commands just now too and seems to be working.
![image](https://user-images.githubusercontent.com/40488132/77068541-b6473e80-69de-11ea-808f-c9566927602f.png)

[2020-03-25 14:21] Jeff-Lowrey opened #174 "Lab 1B script to download arkade for windows is wrong"
The command listed in the Lab 1B of the workshop to download arkade for windows is
`curl -SLsf https://dl.get-arkade.dev/ | sh`

It is reasonable to expect that curl is available on windows.  But the same can't be said of sh.

The script at https://dl.get-arkade.dev also does not know anything about windows.

So the Lab 1B readme should be updated with the proper steps to fetch the windows binary.

[2020-03-25 21:27] alexellis commented on #174
Hi Jeff,

Thanks for your interest however, I think you may have missed that we ask users to install Git Bash in order to follow the workshop on Windows, you'll see that documented here:

https://github.com/openfaas/workshop/blob/master/lab1.md

There is no plan to have support for Powershell or cmd.exe when Git Bash works perfectly well.

Alex

[2020-03-25 21:27] #174 closed

[2020-03-30 23:04] krisfremen opened #175 "Macedonian Translation"
## Context

Would like to translate the workshop to Macedonian language.

Asking before I start any work on this just to make sure such a pull request would get merged in.

Cheers!

[2020-04-23 23:35] genebean opened #176 "Broken link to "The Director pattern""
The link at the beginning of https://github.com/openfaas/workshop/blob/master/appendix.md#the-director-pattern-for-function-chaining seems to go to a deleted page.

[2020-06-27 10:38] jenoOvchi opened #178 "Wrong Gateway Hostname in the Lab 4"
In the lab 4 (https://github.com/openfaas/workshop/blob/master/lab4.md) in part "Call one function from another" you use "gateway" as a default value for "gateway_hostname" variable when "gateway_hostname" is not set. OpenFaaS functions hosted in the openfaas-fn Kubernetes namespace instead of OpenFaaS Gateway that placed in the openfaas Kubernetes namespace. So you need to put namespace name afte

[2020-06-27 15:33] jenoOvchi commented on #178
The same note i found in the next lab (https://github.com/openfaas/workshop/blob/master/lab5.md):
Note: If you're running on Kubernetes, suffix the gateway_hostname with openfaas namespace:
gateway_hostname: "gateway.openfaas"

[2020-07-04 13:58] jenoOvchi opened #180 "Incorrect file extension in the lab 4"
In the lab 4 (https://github.com/openfaas/workshop/blob/master/lab4.md) in part "Making use of logging" incorrect extension of the function configuration file is used.
Incorrect line: "Let's try it. Open the hello-openfaas.yaml file and add those lines:"
Correct line: "Let's try it. Open the hello-openfaas.yml file and add those lines:"

[2020-10-23 11:34] sergii4 opened #183 "K3d start new cluster workflow is outdated"
That section is outdated and scripts doesn't work anymore
### Create a local cluster on your laptop

#### *k3s using k3d*

If you have Docker on your computer, then you can use `k3d` from Rancher Labs. It installs a lightweight version of Kubernetes called `k3s` and runs it within a Docker container, meaning it will work on any computer that has Docker.

* [Install k3d](https://github.com/rancher/

[2020-10-23 11:38] sergii4 commented on #183
#182

[2020-10-23 11:38] sergii4 commented on #183
#182

[2020-10-23 11:38] #183 closed

[2020-10-23 13:21] sergevonage opened #184 "Lab 2 Monitoring dashboard port-forwarding incorrect command"
Port-forwarding command incorrect
[code]
because we run Grafana in OpenFaaS Kubernetes namespace:
[code]
## Expected Behaviour

Port forwards
## Current Behaviour

Error from server (NotFound): deployments.apps "grafana" not found
## Possible Solution

Update command:
[code]
## Steps to Reproduce (for bugs)

1. Run
[code]

## Context

Mislead during go through the tutorial
## Your Environment

* F

[2020-12-10 13:56] rward27 opened #186 "How to go with a CRUD operation in Java?"
I am sorry that I have to write this as an issue but I didn't find more resources for openfaas anywhere and there are not many tutorials doing something more than just pulling pre-built templates and running them.

I was wondering if anyone here could guide me in figuring out how to go with Openfaas (on kubernetes) in performing CRUD operations. Basically I was searching a way to do this in Java b

[2020-12-14 06:01] token-cjg opened #187 "Lab 3: faas-cli up -f hello-openfaas.yml fails"
## Expected Behaviour
With:
* export OPENFAAS_URL=http://secretmachine.direct.labs.play-with-docker.com:8080
* brew install faas-cli
* faas-cli new --lang python3 hello-openfaas-test --prefix="<dockerusername>"

I expect to be able to run `faas-cli up -f hello-openfaas.yml` after `docker login` and be able to deploy my function to my temporary docker playground assigned machine.

## Current Behavi

[2021-03-05 02:30] cheimu opened #191 "Lab4: Sentiment Analysis only works randomly, and requests.get() does't work"
Two problems when doing lab4:
1. When I try lab4 function chaining, I firstly try `echo -n  "California is great, it's always sunny there." | faas-cli invoke sentimentanalysis`, sometimes it works, but most of time it returns: `Server returned unexpected status code: 502 -`
2. When I try function chaining using exactly same code in lab4, but exceptions raised. Cannot recognize gateway in url.
## E

[2021-03-05 03:24] cheimu commented on #191
I guess I know where the problem is my first question and totally fix my second question where requests.get() does't work.

**The solution to my second question: requests.get() does't work
the lab4's spec has one typo and one place a little bit confusing**
1 typo. It says
   #### _Kubernetes_

Suffix the gateway host with `openfaas` namespace:
[code]
But it should be  `r = requests.get("http://gat

[2021-03-11 22:23] alexellis opened #192 "Remove Swarm references"
## Expected Behaviour

Remove remaining Docker Swarm references

## Current Behaviour

Swarm isn't supported by OpenFaaS, but it is mentioned here in some files.

## Possible Solution

Work through each file and update it, also remove wording such as "If on Kubernetes..."

The workshop won't have support for faasd, which has a separate eBook and guide.

[2021-03-16 21:42] kadern0 commented on #192
Japanese translations would probably have to be updated too.

[2021-03-17 02:25] zhenfeng-zhu opened #194 "Let's translate it to Chinese language!"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version ( Full output from: `docker version` ):

* Are you using Docker Swarm (FaaS-swarm ) or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

[2021-03-17 06:58] alexellis commented on #194
I'm open to this, thank you for volunteering 👍

[2021-03-17 07:00] alexellis commented on #192
I'm not sure if we are in contact with any Japanese speakers. Could you look at the git commit history and ping a couple of people here?

[2021-03-20 23:02] kadern0 commented on #192
Hi @kenfdev and @toshi0607, I've removed all the Docker Swarm references from the labs, could you do the same for the Japanese translation?

[2021-05-07 17:08] DanielHabenicht opened #195 "Lab 3: Multiple Issues"
## Expected Behaviour
The Lab should go through flawlessly

## Current Behaviour
There were some errors or weird behaviours:
1.  `faas-cli template pull https://github.com/openfaas-incubator/python3-debian` errors, seems like its already integrated in the normal template (https://github.com/openfaas/templates/tree/master/template)
2. `faas-cli template store describe node10-express` errors -> ther

[2021-05-12 07:04] DanielHabenicht opened #196 "Lab 5: Ngrok Tunnel commands are not working"
## Expected Behaviour
Works

## Current Behaviour
Errors:

![image](https://user-images.githubusercontent.com/13590797/117932540-c3b93980-b300-11eb-8b1c-46f55747e4a9.png)

## Possible Solution

[code]

[2021-05-12 07:09] DanielHabenicht commented on #196
Also, this section here is somewhat not coherent:
![image](https://user-images.githubusercontent.com/13590797/117933216-9caf3780-b301-11eb-9df3-f2a7b5308723.png)

The second command should make use of the environment variable.

I can provide a PR if someone approves my suggestion.

[2021-08-23 18:55] bab014 opened #200 "No armhf templates???"
It appears on the template pull command, you list some armhf images. None are pulled for me

[2021-08-25 12:44] bab014 commented on #200
I can just alter the `Dockerfile`. All good.

I do think the guide/walkthrough should be updated though.

[2021-08-25 12:44] #200 closed

[2021-08-25 14:58] alexellis commented on #200
See also: 1b4cecc..ebfaba2

[2021-08-26 12:04] akosma opened #201 "Lab 1b: CrashLoopBackOff for openfaas/gateway container"
Trying OpenFaaS on Minikube and K3s on Ubuntu 20.04, installed with `arkade`

## Expected Behaviour

`kubectl rollout status -n openfaas deploy/gateway` command should show that the deployment is ready.

## Current Behaviour

Instead, the `openfaas/gateway:0.21.1` container inside the `openfaas/gateway` pod fails with a CrashLoopBackOff error, with the following log:

[code]

The same issue happen

[2021-11-24 16:42] alexellis commented on #192
/add label: help wanted, good first issue

[2021-11-24 16:42] alexellis commented on #192
/set title: Remove Swarm references from Japanese translation

[2021-11-25 11:36] ctwkongmu opened #205 "How do I set expanded timeouts?"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

The timeout settings in helm values.yml(`readTimeout`, `writeTimeout`) seems not to override function timeouts as stated in [workshop](https://github.com/openfaas/w

[2021-11-25 11:36] #205 closed

[2021-11-25 11:38] alexellis commented on #205
I've updated the workshop to point at the tutorial.

You'd probably be better off using the more modern, Kubernetes-focused training material I wrote last year: https://www.edx.org/course/introduction-to-serverless-on-kubernetes

[2021-11-26 03:52] ctwkongmu commented on #205
@alexellis Thanks for the quick fix on the lab8 document. It is clear now.
And also many thanks for the training material, I will check it out.

[2021-11-29 09:15] inductor commented on #192
@alexellis Hi, not sure the progress here but does the issue scope only refer to removal of Docker Swarm related lines which https://github.com/openfaas/workshop/pull/193 covers? If so I wouldn't mind doing it but not sure if there's anything else that has to be updated/

[2021-11-29 09:32] alexellis commented on #192
It's the equivalent changes, but in the Japanese README file. Does that make sense?

https://github.com/openfaas/workshop/tree/master/translations/ja

[2021-11-29 09:34] alexellis commented on #201
Hi @akosma I'm not aware of any issues with openfaas, so I am not sure how we can help you here.

It works as expected in our e2e tests and I use it almost every day with KinD or K3s without issues.

Perhaps check your configuration in Minikube, or switch to KinD or a managed cluster if you continue to have issues with your specific minikube configuration/setup.

Alex

[2021-11-29 09:34] #201 closed

[2021-11-29 09:34] alexellis commented on #201
/set title: Gateway in CrashLoopBackOff when using Minikube

[2021-11-29 09:34] inductor commented on #192
Is only README fine? or do you want to change all of the labs?

[2021-11-29 09:38] alexellis commented on #201
Here's me using KinD:

[code]

Sometimes the gateway can restart a couple of times if it comes up before NATS, in this instance it came up without any restarts.

[2021-11-29 09:44] alexellis commented on #196
Hi @DanielHabenicht let's switch it to inlets, at least we know that the project supports containers and Kubernetes and has a well-defined user experience. This failed due to the hacks we had to go through to force Ngrok to play nicely in containers. It's just not a goal they have. inlets cloud native first and has a subscription model, so it's easy to try it out with minimum cost.

[2021-11-29 09:55] alexellis commented on #192
Anywhere you see the word "Swarm", remove those lines. If the surrounding lines need updating we will need that too, for instance:

"Pick one of the two options of Swarm and Kubernetes" <- that sentence needs reformatting.

But if it says: "Now run kubectl get pods. On Swarm run..." You can just remove the Swarm part.

So yes, check each of the files.

[2021-11-29 11:28] inductor commented on #192
@alexellis I'm having a look at differences but the Japanese translation looks very outdated.

For example the `setup a single-node cluster` section in lab1 in English has the following diff.

[code]

https://github.com/openfaas/workshop/pull/193/files#diff-097f79b5e813d46f4c17d6e5a2635bb4c068854e07cbfb5e63dd037242e3d8aeL93

But Japanese doesn't have this whole sentence and it includes a dedicated

[2021-11-29 15:26] alexellis commented on #194
Hi @zhenfeng-zhu I would be open to getting a Pull Request from you. Thanks for volunteering for this.

[2021-11-29 15:45] #196 closed

[2021-11-29 15:46] alexellis commented on #192
For now, I think it would be helpful to prevent new users from assuming Swarm is valid and trying that out.

Synchronising the translation is an optional technical debt item in my eyes.

[2021-11-29 15:47] alexellis commented on #195
Hi, for #1, can you change to the golang-http repo instead?

For #2 why not describe `node14`?

Are you happy to send a PR?
Alex

[2021-11-29 15:47] alexellis commented on #195
@DanielHabenicht are you still interested in taking this up?

[2021-11-29 15:48] alexellis commented on #195
/add label: good first issue, help wanted

[2021-11-29 15:52] #195 closed

[2021-11-29 15:53] alexellis commented on #186
Hi @rward27 it's a common misconception that every HTTP verb should be its own function. I'm really not sure how people come up with this one.

Use one function per responsibility or entity and switch on the HTTP verb, HTTP path or query string.

Alex

[2021-11-29 15:53] #186 closed

[2021-11-29 15:53] alexellis commented on #186
/add label: question,support

[2021-11-29 15:53] #184 closed

[2021-11-29 15:53] alexellis commented on #184
Fixed in 74f50f4

[2021-11-29 15:54] alexellis commented on #187
Where did you get the idea to set `--prefix` to an empty string? That won't work.

You have to use a container registry like we explain in the material.

[2021-11-29 15:54] #187 closed

[2021-11-29 15:55] #180 closed

[2021-11-29 15:57] #178 closed

[2021-11-29 16:00] alexellis commented on #176
Thanks for reporting this. I've linked to the older fix, but someone should re-write this and add it to the openfaas docs.

[2021-11-29 16:01] alexellis commented on #175
Hi @krisfremen happy for you to do this, providing you are also OK with watching the repo and keeping it in sync?

Thanks for the support.

[2021-11-29 16:10] alexellis commented on #164
Thanks again for these changes :+1:

[2021-11-29 16:10] #164 closed

[2021-11-29 16:10] alexellis commented on #161
Thanks for fixing this for us. I've merged the changes.

[2021-11-29 16:10] #161 closed

[2021-11-29 16:11] alexellis commented on #143
Thanks for the note :+1:

This is meant as an example rather than a sample so I'll close it out, unless you want to test it?

[2021-11-29 16:11] #143 closed

[2021-11-29 16:11] alexellis commented on #132
Thanks for letting us know.

[2021-11-29 16:11] #132 closed

[2021-11-29 16:14] alexellis opened #206 "Convert Grafana steps in Lab 2 to use an arkade app"
The approach and image for Grafana is now ancient. Fortunately there is an arkade app available.

Users may have to load the dashboard manually using the UI, we can include screenshots for this.

So I am looking for a volunteer to convert the Grafana steps in Lab 2 to use an arkade app.

[2021-11-29 16:17] cpanato commented on #206
i can take this one

[2021-11-29 16:21] alexellis commented on #206
Thank you. I've been using https://tinypng.com/ to shrink the PNGs in blog posts etc recently to make download times on conference WiFi better.

[2021-12-09 16:33] zhenfeng-zhu commented on #194
I am doing it. sorry for this and  i found it's more difficult than i thought.i will try my best to do it

[2022-01-22 19:00] levlas opened #211 "GH sponsor link is broken in README because a typo"
Hey folks,

just a quick feedback, that the link to GH sponsor page in the README has a typo

[2022-01-25 16:18] #211 closed

[2022-01-25 16:19] alexellis commented on #211
Thanks a lot for this :slightly_smiling_face: